In [5]:
import pandas as pd
from pyspark.sql import SparkSession, DataFrame
from pathlib import Path


BASE_DATA_DIR = Path().home() / "Documents/PySparkCurso/download"
BASE_DIR = Path().resolve()

spark: SparkSession = (
    SparkSession.builder.master("local")
    .appName("Pandas")
    .config("spark.sql.warehouse.dir", str(BASE_DIR / "spark-warehouse"))
    .enableHiveSupport()
    .getOrCreate()
)

24/04/17 17:34:30 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
churn = pd.read_csv(BASE_DATA_DIR / "Churn.csv", sep=";")
churn.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0,1,1,1,10134888,1
1,608,Spain,Female,41,1,8380786,1,0,1,11254258,0

In [3]:
type(churn)

pandas.core.frame.DataFrame

In [6]:
churn_df: DataFrame = spark.createDataFrame(churn)
churn_df.show(5)

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [7]:
print(type(churn), type(churn_df))

<class 'pandas.core.frame.DataFrame'> <class 'pyspark.sql.dataframe.DataFrame'>

In [8]:
pandas = churn_df.toPandas()
type(pandas)

pandas.core.frame.DataFrame