In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql import types as T

spark = SparkSession.builder.master("local").appName("Spark SQL Section").getOrCreate()

24/04/02 16:19:58 WARN Utils: Your hostname, IdeaPad-Gaming-3-15IHU6 resolves to a loopback address: 127.0.1.1; using 192.168.1.5 instead (on interface wlp0s20f3)
24/04/02 16:19:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/02 16:19:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark.sql("SHOW DATABASES;").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [3]:
spark.sql("CREATE DATABASE desp;")

DataFrame[]

In [4]:
spark.sql("SHOW DATABASES;").show()

+---------+
|namespace|
+---------+
|  default|
|     desp|
+---------+

In [5]:
spark.sql("USE desp;")

DataFrame[]

In [6]:
from pathlib import Path

path = Path().home() / "Documents/PySparkCurso/download/despachantes.csv"

In [7]:
despachantes_schema = (
    "id INT, name STRING, status STRING, city STRING, sales STRING, data DATE"
)

despachantes = spark.read.csv(
    str(path), header=False, sep=",", schema=despachantes_schema
)

despachantes.schema

StructType([StructField('id', IntegerType(), True), StructField('name', StringType(), True), StructField('status', StringType(), True), StructField('city', StringType(), True), StructField('sales', StringType(), True), StructField('data', DateType(), True)])

In [8]:
despachantes.write.saveAsTable("despachantes")

In [9]:
spark.sql("SELECT * FROM despachantes;").show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

In [10]:
despachantes.write.mode("overwrite").saveAsTable("despachantes")

### to load a hive db in spark session you'll need load a new session like this:

In [11]:
# from pyspark.sql import SparkSession
# from pyspark.sql import functions as func
# from pyspark.sql import types as T
# from pathlib import Path

# spark_warehouse_path = Path().resolve() / "spark-warehouse"

# spark = (
#     SparkSession.builder.master("local")
#     .appName("load hive warehouse")
#     .config("spark.sql.warehouse.dir", spark_warehouse_path)
#     .enableHiveSupport()
#     .getOrCreate()
# )

In [12]:
spark.sql("SHOW DATABASES;").show()

+---------+
|namespace|
+---------+
|  default|
|     desp|
+---------+

In [13]:
spark.sql("SELECT * FROM despachantes;").show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

In [15]:
despachantes.show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

## Criando Tabela não gerenciada

In [16]:
parquet_path = Path().resolve()

despachantes.write.format("parquet").save(str(parquet_path / "desparquet"))

In [18]:
despachantes.write.mode("overwrite").option(
    "path", str(parquet_path / "desparquet")
).saveAsTable("despachantes_ng")

In [20]:
spark.sql("SHOW TABLES;").show()

+---------+---------------+-----------+
|namespace|      tableName|isTemporary|
+---------+---------------+-----------+
|     desp|   despachantes|      false|
|     desp|despachantes_ng|      false|
+---------+---------------+-----------+

In [21]:
spark.sql("SHOW CREATE TABLE despachantes;").show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                             |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE TABLE spark_catalog.desp.despachantes (\n  id INT,\n  name STRING,\n  status STRING,\n  city STRING,\n  sales STRING,\n  data DATE)\nUSING parquet\n|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------+

In [22]:
spark.catalog.listTables()

[Table(name='despachantes', catalog='spark_catalog', namespace=['desp'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='despachantes_ng', catalog='spark_catalog', namespace=['desp'], description=None, tableType='EXTERNAL', isTemporary=False)]

# Views

In [23]:
despachantes.createOrReplaceTempView("despachantes_view_1")
spark.sql("SELECT * FROM despachantes_view_1;").show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

In [24]:
despachantes.createOrReplaceGlobalTempView("despachantes_view_2")
spark.sql("SELECT * FROM global_temp.despachantes_view_2").show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

In [26]:
spark.sql(
    "CREATE OR REPLACE TEMP VIEW desp_view AS SELECT * FROM despachantes;",
)

spark.sql("SELECT * FROM desp_view").show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

In [27]:
spark.sql(
    "CREATE OR REPLACE GLOBAL TEMP VIEW desp_view AS SELECT * FROM despachantes;",
)

spark.sql("SELECT * FROM global_temp.desp_view;").show()

+---+-------------------+------+-------------+-----+----------+
| id|               name|status|         city|sales|      data|
+---+-------------------+------+-------------+-----+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|   23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|   34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|   34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|   36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|   12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|   22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|   45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|   65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|   54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|    0|2020-09-05|
+---+-------------------+------+-------------+-----+----------+

# SQL x DataFrames

In [28]:
spark.sql(
    "SELECT city, SUM(sales) AS total_sales FROM despachantes GROUP BY city "
    "ORDER BY total_sales DESC"
).show()

+-------------+-----------+
|         city|total_sales|
+-------------+-----------+
| Porto Alegre|      223.0|
|  Santa Maria|       68.0|
|Novo Hamburgo|       34.0|
+-------------+-----------+

In [30]:
despachantes.groupBy("city").agg(func.sum("sales").alias("total_sales")).orderBy(
    func.col("total_sales").desc()
).show()

+-------------+-----------+
|         city|total_sales|
+-------------+-----------+
| Porto Alegre|      223.0|
|  Santa Maria|       68.0|
|Novo Hamburgo|       34.0|
+-------------+-----------+

# Joins

In [32]:
rec_schema = "id INT, datarec DATE, iddesp INT"
rec = spark.read.csv(
    str(path.parent / "reclamacoes.csv"), header=False, schema=rec_schema
)
print(rec.schema)
rec.show()

StructType([StructField('id', IntegerType(), True), StructField('datarec', DateType(), True), StructField('iddesp', IntegerType(), True)])
+---+----------+------+
| id|   datarec|iddesp|
+---+----------+------+
|  1|2020-09-12|     2|
|  2|2020-09-11|     2|
|  3|2020-10-05|     4|
|  4|2020-10-02|     5|
|  5|2020-12-06|     5|
|  6|2020-01-09|     5|
|  7|2020-01-05|     9|
+---+----------+------+

In [33]:
rec.write.saveAsTable("rec")

In [35]:
spark.sql("SELECT * FROM rec;").show()

+---+----------+------+
| id|   datarec|iddesp|
+---+----------+------+
|  1|2020-09-12|     2|
|  2|2020-09-11|     2|
|  3|2020-10-05|     4|
|  4|2020-10-02|     5|
|  5|2020-12-06|     5|
|  6|2020-01-09|     5|
|  7|2020-01-05|     9|
+---+----------+------+

### JOIN SQL

In [36]:
spark.sql(
    "SELECT rec.*, despachantes.name FROM despachantes INNER JOIN rec ON"
    "(despachantes.id = rec.iddesp);"
).show()

+---+----------+------+-------------------+
| id|   datarec|iddesp|               name|
+---+----------+------+-------------------+
|  1|2020-09-12|     2|    Deolinda Vilela|
|  2|2020-09-11|     2|    Deolinda Vilela|
|  3|2020-10-05|     4|Felisbela Dornelles|
|  4|2020-10-02|     5|     Graça Ornellas|
|  5|2020-12-06|     5|     Graça Ornellas|
|  6|2020-01-09|     5|     Graça Ornellas|
|  7|2020-01-05|     9|      Uriel Queiroz|
+---+----------+------+-------------------+

### Spark join

In [44]:
rec = rec.withColumnRenamed("id", "idrec")

In [47]:
despachantes.join(rec, despachantes.id == rec.iddesp, "inner").select(
    "idrec", "datarec", "iddesp", "name"
).show()

+-----+----------+------+-------------------+
|idrec|   datarec|iddesp|               name|
+-----+----------+------+-------------------+
|    2|2020-09-11|     2|    Deolinda Vilela|
|    1|2020-09-12|     2|    Deolinda Vilela|
|    3|2020-10-05|     4|Felisbela Dornelles|
|    6|2020-01-09|     5|     Graça Ornellas|
|    5|2020-12-06|     5|     Graça Ornellas|
|    4|2020-10-02|     5|     Graça Ornellas|
|    7|2020-01-05|     9|      Uriel Queiroz|
+-----+----------+------+-------------------+

spark-sql is live a sql shell, it uses Hive to emulate a database